# Virtual environments
.venv/
venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Testing
.pytest_cache/
htmlcov/
.coverage
.coverage.*
coverage.xml

# Type checking / Linting
.mypy_cache/
.ruff_cache/

# Packaging
*.egg-info/
dist/
build/

# Environment
.env
!.env.example

# IDE
.idea/
.vscode/
